footer
    .container
        .row
            .col-md-2
                p 投资赚钱
            .col-md-2
                p 配资借款
            .col-md-6.text-center
                p 全国服务热线
                p <strong class='emphasis-text'>400-3245-892</strong>
            .col-md-2
                p 关于牛金网
        .row
            p.text-center © 2015 Company, Inc. All Rights Reserved


    //p.pull-left © 2015 Company, Inc. All Rights Reserved
    //ul.pull-right.list-inline
      li
        a(href='#') About us
      li
        a(href='#') Issues